.container_options {
  position: absolute;
  background-color: rgba(54, 58, 65, 0.9);
  /* border: 1px solid gray; */
  top: 50px;
  left: 2.5%;
  width: 95%;
  height: 630px;
  z-index: 5;
  display: none;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.btn_close_options {
  position: absolute;
  right: 15px;
  top: 15px;
}

.input {
  padding: 5px;
  background: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  color: #969696;
  outline: none;
}

.display_flex {
  display: flex;
  justify-content: space-between;
}



.option_label {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #969696;
  letter-spacing: 1px;
  font-weight: 500;
}

.margin_top_0px {
  margin-top: 0px;
}

.sub_header {
  font-size: 16px;
}

.menu_box {
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.arrayDisplay {
  width: 50%;
  height: 27px;
  border: 1px solid gray;
  overflow-y: scroll;
  border-radius: 5px;
}