.container__originImagePreview {
  position: absolute;
  top: 45px;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #2e3238;
  z-index: 2;
  overflow: hidden;
  display: none;
  border-radius: 15px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
}

/* Стили для ручки изменения размера */
#resize-handle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: #CCC;
  cursor: nwse-resize;
  z-index: 10;
}

/* Стили для внутреннего контейнера изображения */
#image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  /* Включаем прокрутку внутри внутреннего контейнера */
}