* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #2e3238;
}

.app {
  max-width: 430px;
}


.parameters_container {
  width: 100%;
  height: 150px;
}

.playground_container {
  width: 100%;
  height: 655px;
  border: 1px solid #484646;
  overflow: scroll;
  overflow-x: scroll;
}


#grid-container {
  display: grid;
  width: 100%;
  /* Занимает 100% ширины родительского элемента */
  /* grid-template-columns: repeat(auto-fill, minmax(0, 1fr)); */
}

.grid-item {
  background-color: #2e3238;
  /* Цвет фона ячейки */
  border: .2px solid #484646;
  /* Граница ячейки */
  width: 100%;
  padding-bottom: 100%;
  /* Процентное значение для поддержания квадратной формы */
}

.color-choice {
  width: 30px;
  /* Ширина кнопки */
  height: 30px;
  /* Высота кнопки */
  border: none;
  /* Убрать границу */
  margin: 2px;
  /* Отступы вокруг кнопки */
  cursor: pointer;
  /* Стиль курсора */
}

.scale {
  transform: scale(0.5);
}