.menu_container {
  position: absolute;
  width: 100%;
  height: 370px;
  background-color: #2e3238;
  border-top: 1px solid gray;
  bottom: 0;
  left: 0;
  /* display: none; */
  padding: 8px;
  z-index: 3;
  display: none;
}


.close_menu {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(127, 126, 126);
  font-size: 30px;
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}


.sub_header {
  font-size: 20px;
}

.colors_container {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}


.color_picker_container {
  width: 100%;
  height: 150px;
  overflow-y: scroll;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 3px;
}

.color_picker_container::-webkit-scrollbar {
  display: none;
}

.favourite_container {
  display: flex;
  width: 100%;
  height: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.current_color_box {
  width: 20%;
  height: 80px;
  background-color: aqua;
  margin-right: 15px;
  border-radius: 15px;
  padding: 5px;

}

.favourite_colors_container {
  width: 80%;
  height: 80px;
  overflow-y: scroll;
  /* border: 1px solid gray; */
}

.color-choice {
  width: 32px;
  height: 32px;
  border: none;
  margin: 1px;
  cursor: pointer;
  border-radius: 5px;
}

.menu_box {
  margin: 15px 0px;
}

.input_grid,
.sub_header {
  display: inline-block;
}

.image_url {
  padding: 10px;
  outline: none;
}