.menu_container {
  position: absolute;
  width: 95%;
  left: 2.5%;
  height: 330px;
  background-color: rgba(54, 58, 65, 0.9);
  bottom: 85px;
  /* display: none; */
  padding: 15px;
  z-index: 3;
  display: none;
  border-radius: 10px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}


.close_menu {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(127, 126, 126);
  font-size: 30px;
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}

.colors_container {
  width: 100%;
  height: 100%;
}


.color_picker_container {
  width: 100%;
  height: 110px;
  overflow-y: scroll;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 3px;
  padding-left: 8px;
}

.color_picker_container::-webkit-scrollbar {
  display: none;
}

.favourite_container {
  display: flex;
  width: 100%;
  height: 35px;
  margin-top: 10px;
  /* padding-top: 5px;
  padding-bottom: 10px; */
}

.current_color_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: aqua;
  margin-right: 40px;
  border-radius: 5px;
  padding: 5px;
  font-size: 30px;
  color: black;
}

.favourite_colors_container {
  /* width: 340px;
  height: 75px; */
  overflow-y: scroll;
  /* border: 1px solid gray; */
}


.fav_colors_menu_box {
  width: 340px;
  /* height: 75px; */
}

.color-choice {
  width: 32px;
  height: 32px;
  border: none;
  margin: 1px;
  cursor: pointer;
  border-radius: 5px;
}

.input_grid,
.sub_header {
  display: inline-block;
}

.image_url {
  outline: none;
}

.input_add_image {
  margin: 10px 0;
}