.playground_container {
  position: fixed;
  top: 50px;
  /* bottom: 60px; */
  width: 100%;
  height: 740px;
  overflow: scroll;
  border-radius: 15px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
}

#grid-container {
  display: grid;
  width: 100%;
}

.grid-item {
  /* background-color: rgb(46, 50, 56); */
  background-color: transparent;
  /* Цвет фона ячейки */
  border: .1px solid #373c43;
  /* Граница ячейки */
  width: 100%;
  padding-bottom: 100%;
  transition: .4s;
}

.fav_colors_front_box {
  position: absolute;
  bottom: 20px;

  height: 34px;
  width: 95%;
  left: 2.5%;
}