.playground_container {
  position: fixed;
  bottom: 10px;
  width: 100%;
  height: 815px;
  overflow: scroll;
  overflow-x: scroll;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
}

#grid-container {
  display: grid;
  width: 100%;
}

.grid-item {
  background-color: rgb(46, 50, 56);
  /* Цвет фона ячейки */
  border: .1px solid #373c43;
  /* Граница ячейки */
  width: 100%;
  padding-bottom: 100%;
  transition: .4s;
}